extends layout

block content
    .container
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .panel.panel-default
                .panel-body
                    .text-center
                        h1 About
                        hr.ct-hr-green(style='width:30%')
                        br
                        p Project realised by Hanna Haimakainen and Corentin Thomasset. Device designed by Hanna, server and app programmed by Corentin.
                        p Contact: johanaha@metropolia.fi & corentin.thomasset74@gmail.com
                        p December 2017, Metropolia University, Helsinki.

                        br
                        br